@use "global" as *;
// sp size  375px -> sp
// tb size  768px -> md
// pc size 1440px -> xl

.wrap {
  max-width: rem(768);
  width: 100%;
  text-align: center;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.red {
  color: #ff0000;
}
